* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --spacing: 1rem;
  --max-width: 56rem;
  --font-size-button: 1rem;
  --font-family: -system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    roboto, oxygen, ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-light-gray: #f5f5f5;
  --color-background-zebra: var(--color-light-gray);
}

.hidden {
  display: none !important;
}

html {
  font-family: var(--font-family);
}

input,
textarea,
button {
  font-size: inherit;
}

button {
  padding: 0.25rem 0.5rem;
  background-color: #fc7af3;
  border: 2px solid;
}

h1 {
  text-align: center;
  padding: 20px;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}